<form action="/create" method="POST" class="createToDo">
<h2> Create Todo </h2>

<div>    
    <input class="form-control form-control-lg" type="text" placeholder="Pet a cat" name="title">
    <small class="form-text text-muted">ToDo will be added to the list</small>
</div>

<button  type="submit" class="btn btn-primary">Create</button>
</form>