{{#if tasks.length}}
<div class="row types">
    <div class="col-sm">
        <div class="alert alert-info"><h1 class="alert-heading">To do</h1></div>

        <form action="/create" method="GET">
        <input type="hidden" name="t" value="0"/>
        <button type="submit" class="btn btn-info add">Add new task +</button>
        </form>

        <hr>
        <div class="list-group">
        {{#each tasks}}
        {{#is type 0}} {{> task}} {{/is}}
        {{/each}}
        </div>
    </div>

    <div class="col-sm">
        <div class="alert alert-danger"><h1 class="alert-heading">Developing</h1></div>
        
        <form action="/create" method="GET">
        <input type="hidden" name="t" value="1"/>
        <button type="submit" class="btn btn-danger add">Add new task +</button>
        </form>

        <hr>
        <div class="list-group">
        {{#each tasks}}
        {{#is type 1}} {{> task}} {{/is}}
        {{/each}}
        </div>
    </div>

    <div class="col-sm">
        <div class="alert alert-warning"><h1 class="alert-heading">Testing</h1></div>
        
        <form action="/create" method="GET">
        <input type="hidden" name="t" value="2"/>
        <button type="submit" class="btn btn-warning add">Add new task +</button>
        </form>

        <hr>
        <div class="list-group">
        {{#each tasks}}
        {{#is type 2}} {{> task}} {{/is}}
        {{/each}}
        </div>
    </div>

    <div class="col-sm">
        <div class="alert alert-success"><h1 class="alert-heading">Done</h1></div>

        <form action="/create" method="GET">
        <input type="hidden" name="t" value="3"/>
        <button type="submit" class="btn btn-success add">Add new task +</button>
        </form>
        
        <hr>
        <div class="list-group">
        {{#each tasks}}
        {{#is type 3}} {{> task}} {{/is}}
        {{/each}}
        </div>
    </div>
</div>
{{else}}
<div class="container">
<div class="alert alert-info" role="alert" style="margin-top: 8%;">
  <h4 class="alert-heading">No Tasks!</h4>
  <p>
  Seems like you haven't created any tasks yet. <br>
  <a href="/create" class="alert-link"> 
  Click here to create new tasks.</a>
  </p>
</div>
</div>
{{/if}}
</div>
