<h1>Login</h1>
{{#if messages.error}}
<div class="alert alert-danger" role="alert" style="margin-top: 10px;">
  {{messages.error}}
</div>
{{/if}}
<form action="/login" method="POST">
  <div class="form-group">
    <label for="emnpail">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email">
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>

<a href="/register">Don't have an account yet? Sign up here</a>